
<!DOCTYPE html>
<html>

<div class="container">
    
    <h1 align="center"> Choose Region</h1>

    <div class="row col-md-offset-1 ">
        <div class="col-md-5">
            <a class="thumbnail" href="menu1">

                <img class="img-responsive" src="@routes.Assets.at("images/map/1b.jpg")" alt="2">
            </a>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <a class="thumbnail" href="menu2">
                <img class="img-responsive" src="@routes.Assets.at("images/map/2b.jpg")" alt="2">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <a class="thumbnail" href="menu3">
                <img class="img-responsive" src="@routes.Assets.at("images/map/5b.jpg")" alt="2">
            </a>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <a class="thumbnail" href="menu4">
                <img class="img-responsive" src="@routes.Assets.at("images/map/3b.jpg")" alt="2">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a class="thumbnail" href="menu5">
                <img class="img-responsive" src="@routes.Assets.at("images/map/4b.jpg")" alt="2">
            </a>
        </div>
    </div>


    <!-- Footer -->


</div>
</html>